<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Os melhores profissionais em personal trainer e os melhores planos e pacotes para academia.">
        <meta name="keywords" content="Academia, personal trainer, treinador, power, planos academia, musculação, atividade física, treinos, esteiras, levantamento de peso">
        <meta name="google" content="nositelinkssearchbox">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Power</title>
        <!--[if IE]><link rel="shortcut icon" href="../dist/img/logo/logo@2x.png"><![endif]-->
        <link rel="icon" href="../dist/img/logo/logo.png" type="image/x-icon">

        <link rel="stylesheet" href="../dist/style/css/style.css">
    </head>
    <body class="main-container theme-default">

        <header class="header">
            <section class="config-bar">
                <div class="d-flex h-100 justify-content-end align-items-center">
                    <!-- <span class="text-muted text-sm">themes: </span> -->
                    <div class="theme-selector theme-default selected" 
                        title="Default"
                        data-theme="theme-default"
                        role="button"></div>
                        
                    <div class="theme-selector theme-strength" 
                        title="Strength"
                        data-theme="theme-strength"
                        role="button"></div>
                    
                    <div class="theme-selector theme-dark" 
                        title="Dark"
                        data-theme="theme-dark"
                        role="button"></div>
                </div>
            </section>

            <section class="logo-container">
                <img src="../dist/img/svg/ellipse.svg" class="gray-ellipse">                
                <img src="../dist/img/logo/logoSvg.svg" class="logo-image my-auto">

                <h1 class="title">POWER</h1>

                <button class="btn-responsive-hamburger">
                    <img class="mini-weight" src="../dist/img/icons/weight.svg">
                </button>
            </section>

            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-item">Home</li>
                    <li class="navbar-item">About Us</li>
                    <li class="navbar-item">Our Classes</li>
                    <li class="navbar-item">Our Trainers</li>
                    <li class="navbar-item">Our Pricing</li>
                    <li class="navbar-item">
                        <a class="btn btn-primary">Contact Us</a>                        
                    </li>
                </ul>
            </nav>

        </header>

        <main>
            <section class="first-section">
                <p class="title-2">Build Your Body &</p>
                <p class="title-1">Shape Yourself!</p>
                <hr class="line">

                <div class="text-block description-1 mt-2">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore  architecto beatae vitae dicta sunt explicabo.
                    
                    <button class="btn-group mt-2">
                        <span class="btn btn-primary px-2">
                            Join Today
                        </span>
                        <div class="append primary-color">
                            <img class="arrow" src="../dist/img/icons/arrow-long.svg" alt="">
                        </div>
                    </button>

                </div>
                <div>
                    <img class="square-ellipses" src="../dist/img/svg/square_ellipses.svg" alt="">
                    <img class="img-gym-woman-1" src="../dist/img/photos/subtraction2.png">
                    <img class="gray-ellipse" src="../dist/img/svg/ellipse.svg">
                    <img class="blue-ellipse" src="../dist/img/svg/ellipse.svg" alt="">
                    <img class="red-ellipse" src="../dist/img/svg/ellipse.svg" alt="">
                </div>
            </section>

            <section class="second-section">
                <div class="division image-container">
                    <img class="left-wave" src="../dist/img/svg/left_side_wave.svg" alt="">
                    <img class="usermedia" src="../dist/img/photos/usermedia.png" alt="">
                </div>
                <div class="division">
                    <article class="article">
                        <p class="title-1">Our Story</p>
                        <hr class="line">

                        <div class="text-block description-1 mt-2">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                                dicta sunt explicabo.
                            </p>

                            <p class="mt-2">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                magni dolores eos qui ratione voluptatem sequi nesciunt. 
                            </p>
                        </div>

                        <section class="information mt-2">
                            <section class="section-badge">
                                <div class="badge-container">
                                    <div class="badge badge-circle badge-big">
                                        <img class="badge-icon" src="../dist/img/icons/right_walk_man.svg" alt="">
                                    </div>
                                </div>
                                <div class="badge-description">
                                    <h3>Open Door Policy</h3>
                                    <p class="text-block">
                                        Trem aperiam, eaque ipsa quae ab illo inventore veritatis
                                        et quasi  vitae dicta sunt explicabo sequi nesciunt. 
                                    </p>
                                </div>
                            </section>

                            <section class="section-badge">
                                <div class="badge-container">
                                    <div class="badge badge-circle badge-big">
                                        <img class="badge-icon" src="../dist/img/icons/shield.svg" alt="">
                                    </div>
                                </div>
                                <div class="badge-description">
                                    <h3>Fully Insured</h3>
                                    <p class="text-block">
                                        Trem aperiam, eaque ipsa quae ab illo inventore veritatis
                                        et quasi  vitae dicta sunt explicabo sequi nesciunt. 
                                    </p>
                                </div>
                            </section>

                            <section class="section-badge">
                                <div class="badge-container">
                                    <div class="badge badge-circle badge-big">
                                        <img class="badge-icon" src="../dist/img/icons/professional.svg" alt="">
                                    </div>
                                </div>
                                <div class="badge-description">
                                    <h3>Personal Trainer</h3>
                                    <p class="text-block">
                                        Trem aperiam, eaque ipsa quae ab illo inventore veritatis
                                        et quasi  vitae dicta sunt explicabo sequi nesciunt. 
                                    </p>
                                </div>
                            </section>
                        </section>
                    </article>
                </div>
            </section>

            <section class="our-trainers">
                <div class="d-flex w-100 justify-content-center">
                    <div class="">
                        <p class="title-1">Our trainers</p>
                        <hr class="line mx-auto">
                    </div>
                </div>
            </section>

            <footer class="footer">
                <img class="footer-wave" src="../dist/img/svg/last_bottom_wave.svg" alt="">
                <section class="section-container footer-content">
                    <div class="division">
                        <img src="../dist/img/logo/logoSvg.svg" class="logo-image my-auto">
                        <p class="mt-2 mb-2">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                        <div class="icons-container">
                            <img class="facebook" src="../dist/img/icons/003-facebook.svg" alt="">
                            <img class="g-plus" src="../dist/img/icons/002-google-plus.svg" alt="">
                            <img class="twitter" src="../dist/img/icons/001-twitter-logo-silhouette.svg" alt="">
                            <img class="instagram" src="../dist/img/icons/instagram.svg" alt="">
                        </div>
                    </div>
                    <div class="division">
                        <div class="mt-2">
                            <p class="title-1">Get In touch</p>
                            <hr class="line">
                            <section class="section-container">
                                <div class="division">
                                    <h4>Adress</h4>
                                    <p>
                                        123 Madison Street New York City,
                                        NY 10001.
                                    </p>
                                    <p>
                                        Mon - Fri 08:00 AM - 09:00 PM
                                    </p>
                                </div>
                                <div class="division">
                                    <h4>Contact Info</h4>
                                    <p>info@gym.com</p>
                                    <p>+1 234 567 8901</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <div class="copyright">
                    <span>
                        Copyright 2019 GYM. All rights reserved.
                    </span>
                </div>
            </footer>
        </main>
        <script src="../dist/js/index.js"></script>
    </body>
</html>